name: Labels Sync
on:
  push:
    branches:
      - main
    paths:
      - .github/labels/**.yaml
      - .github/workflows/labels-sync.yaml

jobs:
  tekton-integration:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "> Creating config (${{ github.job }}.yaml)..."
          cat .github/labels/common.yaml >> ${{ github.job }}.yaml
          cat .github/labels/type.yaml >> ${{ github.job }}.yaml
          cat .github/labels/status.yaml >> ${{ github.job }}.yaml
          cat .github/labels/k8s-platforms.yaml >> ${{ github.job }}.yaml
          cat .github/labels/tekton.yaml >> ${{ github.job }}.yaml
          echo "> Created config:"
          cat ${{ github.job }}.yaml
      - uses: micnncim/action-label-syncer@v1
        with:
          manifest: ${{ github.job }}.yaml
          repository: buildpacks/tekton-integration
          token: ${{ secrets.LEARNING_GITHUB_TOKEN }}
          prune: true # ! NOTE ! - default is true which deletes labels not in manifest
  roadmap:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - buildpacks/community
          - buildpacks/docs
          - buildpacks/github-actions
          - buildpacks/imgutil
          - buildpacks/katacoda-scenarios
          - buildpacks/lifecycle
          - buildpacks/pack
          - buildpacks/pack-orb
          - buildpacks/registry-api
          - buildpacks/rfcs
          - buildpacks/samples
          - buildpacks/spec
          - buildpacks/tekton-integration
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "> Creating config (${{ github.job }}.yaml)..."
          cat .github/labels/roadmap.yaml >> ${{ github.job }}.yaml
          echo "> Created config:"
          cat ${{ github.job }}.yaml
      - uses: micnncim/action-label-syncer@v1
        with:
          manifest: ${{ github.job }}.yaml
          repository: ${{ matrix.repo }}
          token: ${{ secrets.LEARNING_GITHUB_TOKEN }}
          prune: false # ! NOTE ! - default is true which deletes labels not in manifest
  types:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - buildpacks/docs
          - buildpacks/katacoda-scenarios
          - buildpacks/pack
          - buildpacks/pack-orb
          - buildpacks/samples
          - buildpacks/tekton-integration
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "> Creating config (${{ github.job }}.yaml)..."
          cat .github/labels/type.yaml >> ${{ github.job }}.yaml
          echo "> Created config:"
          cat ${{ github.job }}.yaml
      - uses: micnncim/action-label-syncer@v1
        with:
          manifest: ${{ github.job }}.yaml
          repository: ${{ matrix.repo }}
          token: ${{ secrets.LEARNING_GITHUB_TOKEN }}
          prune: false # ! NOTE ! - default is true which deletes labels not in manifest
  status:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        repo:
          - buildpacks/docs
          - buildpacks/katacoda-scenarios
          - buildpacks/pack
          - buildpacks/pack-orb
          - buildpacks/samples
          - buildpacks/tekton-integration
    steps:
      - uses: actions/checkout@v2
      - run: |
          echo "> Creating config (${{ github.job }}.yaml)..."
          cat .github/labels/status.yaml >> ${{ github.job }}.yaml
          echo "> Created config:"
          cat ${{ github.job }}.yaml
      - uses: micnncim/action-label-syncer@v1
        with:
          manifest: ${{ github.job }}.yaml
          repository: ${{ matrix.repo }}
          token: ${{ secrets.LEARNING_GITHUB_TOKEN }}
          prune: false # ! NOTE ! - default is true which deletes labels not in manifest
